<html>
    <head>
        <link href='/css/chat.css' rel='stylesheet' />
    </head>
    <body>
      <div id="message-area">
      </div>
        <div class="room-area">
            <header class="msger-header">
              <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i> DSDN Chat
              </div>
              <div class="msger-header-options">
                <span><i class="fas fa-cog"></i></span>
              </div>
            </header>
            <a id="room1" class="msger-inputarea clickable" href="/chat?id=1">Room 1</a>
            <a id="room2" class="msger-inputarea clickable" href="/chat?id=2">Room 2</a>
            <a id="room3" class="msger-inputarea clickable" href="/chat?id=3">Room 3</a>
            <a id="room4" class="msger-inputarea clickable" href="/chat?id=4">Room 4</a>
            <a id="room5" class="msger-inputarea clickable" href="/chat?id=5">Room 5</a>
          </div>
    </body>
</html>